################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelAvailability/v15
/src/HotelAvailability.Api/obj
/src/HotelAvailability.Api/bin/Debug/netstandard2.0
/src/HotelAvailability.Core/bin/Debug/netstandard2.0
/src/HotelAvailability.Core/obj
/.vs
